In [1]:
import pandas as pd
import numpy as np
import urllib

In [2]:
#import dataset
df = pd.read_csv('2017_11.csv')
df.head(2)

,记录数,Sheet,Table Name,姓名,操作IP,操作地址,操作时间,操作类型,操作系统,浏览器,用户名
0,1,表1,表1,Erik,192.168.4.5,http://192.168.1.30:88/SYSA/checkin2.asp?forms...,2017-11-29 20:00:22,登陆系统,NaN,NaN,erik
1,1,表1,表1,Erik,192.168.4.5,http://192.168.1.30:88/SYSA/checkin2.asp?forms...,2017-11-30 14:12:39,登陆系统,NaN,NaN,erik

In [3]:
#duplicate url column for further data wrangling
df['url']=df['操作地址']
df.shape

(226603, 12)

In [4]:
#filter user operation type
df = df[df['操作类型']=='客户池']
#df.head()

,记录数,Sheet,Table Name,姓名,操作IP,操作地址,操作时间,操作类型,操作系统,浏览器,用户名,url
855,1,表1,表1,林栩凤,122.225.96.6,http://192.168.1.30:88/SYSA/work/teltop.asp,2017-11-29 16:10:12,客户池,Android,Chrome,林栩凤,http://192.168.1.30:88/SYSA/work/teltop.asp
856,1,表1,表1,林栩凤,122.225.96.6,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,2017-11-29 16:10:29,客户池,Android,Chrome,林栩凤,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
857,1,表1,表1,林栩凤,122.225.96.6,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,2017-11-29 16:10:21,客户池,Android,Chrome,林栩凤,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
885,1,表1,表1,王越,1.81.65.113,http://192.168.1.30:88/SYSA/work/teltop.asp,2017-11-28 19:09:55,客户池,Android,Chrome,王越,http://192.168.1.30:88/SYSA/work/teltop.asp
886,1,表1,表1,王越,1.81.65.113,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,2017-11-28 19:10:32,客户池,Android,Chrome,王越,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...

In [5]:
#check value counts
df['操作类型'].value_counts()

客户池    20367
Name: 操作类型, dtype: int64

In [6]:
#shrink to essential columns
df = df[['姓名','用户名','操作IP','操作时间','操作系统','操作地址','url']]
#df.head()

,姓名,用户名,操作IP,操作时间,操作系统,操作地址,url
855,林栩凤,林栩凤,122.225.96.6,2017-11-29 16:10:12,Android,http://192.168.1.30:88/SYSA/work/teltop.asp,http://192.168.1.30:88/SYSA/work/teltop.asp
856,林栩凤,林栩凤,122.225.96.6,2017-11-29 16:10:29,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
857,林栩凤,林栩凤,122.225.96.6,2017-11-29 16:10:21,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
885,王越,王越,1.81.65.113,2017-11-28 19:09:55,Android,http://192.168.1.30:88/SYSA/work/teltop.asp,http://192.168.1.30:88/SYSA/work/teltop.asp
886,王越,王越,1.81.65.113,2017-11-28 19:10:32,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...

In [7]:
#decode url Chinese words
v = [] 
for i in df.url:
    v.append(urllib.parse.unquote(i,encoding='gbk'))

df['url_unquoted'] = v
#df.head(2)

,姓名,用户名,操作IP,操作时间,操作系统,操作地址,url,url_unquoted
855,林栩凤,林栩凤,122.225.96.6,2017-11-29 16:10:12,Android,http://192.168.1.30:88/SYSA/work/teltop.asp,http://192.168.1.30:88/SYSA/work/teltop.asp,http://192.168.1.30:88/SYSA/work/teltop.asp
856,林栩凤,林栩凤,122.225.96.6,2017-11-29 16:10:29,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...

In [8]:
#check decode result
df.url_unquoted[856]

'http://192.168.1.30:88/SYSA/work/teltop.asp?F1=1&F2=金洋&sear=金洋'

In [9]:
#split decode failure data from success data
#check decode failure rows
df_normal_encoding = df[df.url_unquoted.str.contains('%')==False]
print(df_normal_encoding.shape)

df_diff_encoding = df[df.url_unquoted.str.contains('%')==True]
print(df_diff_encoding.shape)

(17800, 8)
(2567, 8)

In [10]:
#print decode failure sample
df_diff_encoding.url_unquoted[857]

'http://192.168.1.30:88/SYSA/work/teltop.asp?F1=1&F2=%u91D1%u6D0B&sear=%u91D1%u6D0B'

In [11]:
# export wrongly decoded rows
#df_diff_encoding.to_csv('df_diff_encoding.csv',index=False)

In [12]:
#import manually decoded data back in
df_diff_encoding = pd.read_csv('df_diff_encoding.csv',encoding='gbk')
#df_diff_encoding.head()

,姓名,用户名,操作IP,操作时间,操作系统,操作地址,url,url_unquoted
0,林栩凤,林栩凤,122.225.96.6,2017/11/29 16:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
1,王越,王越,1.81.65.113,2017/11/28 19:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
2,王越,王越,1.81.65.113,2017/11/28 19:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
3,王越,王越,36.45.30.26,2017/11/29 10:23,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...
4,陈慈娜,陈慈娜,113.111.61.175,2017/11/30 11:26,Windows 10（正式版）,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...

In [13]:
#recheck decode failure sample
df_diff_encoding.url_unquoted[857]

'http://192.168.1.30:88/SYSA/work/teltop.asp?F1=1&F2=梦天门&sear=梦天门'

In [14]:
#combine splited and decoded datasets
df2 = pd.concat([df_diff_encoding, df_normal_encoding])
df2.shape

(20367, 8)

In [15]:
# recheck decoding failure rows
df_diff_encoding2 = df2[df2['url_unquoted'].str.contains('%')==True]
df_diff_encoding2.shape

(0, 8)

In [16]:
#obtain only Chinese words from operation url string
df2['cn'] = df2.url_unquoted.str.replace('[a-zA-Z0-9_]|[\W]','')
#df2.cn

0                               金洋金洋
1               中国联通山西省分公司中国联通山西省分公司
2                           山西联通山西联通
3                           陕西中烟陕西中烟
4                   中粮集团中宏食品中粮集团中宏食品
5                                 君君
6                               君立君立
7                               尚航尚航
8                       广州尚航信息广州尚航信息
9                       广州尚航信息广州尚航信息
10                          天宝网络天宝网络
11                          天宝网络天宝网络
12                          广东博宏广东博宏
13                      广东博宏药业广东博宏药业
14                      广东博宏药业广东博宏药业
15                      广东博宏邀约广东博宏邀约
16        广东天来宝网络科技有限公司广东天来宝网络科技有限公司
17        广东天来宝网络科技有限公司广东天来宝网络科技有限公司
18        广东天来宝网络科技有限公司广东天来宝网络科技有限公司
19                            中海达中海达
20                              中科中科
21                              中科中科
22                              中科中科
23                              尚航尚航
24                          广州尚航广州尚航
25                      广州尚航信息广州尚航信息
26                      广州尚航信息广州尚航信息
27                      广州尚航信息广州尚航信息
28              荣科科技股份有限公司荣科科技股份有限公司
29              荣科科技股份有限公司荣科科技股份有限公司
                     ...
226017                            检索
226018                            检索
226019                            检索
226361
226362
226363
226364
226365
226366
226367
226368
226369
226370                       红黄蓝教育保存
226371                中智上海经济技术合作公司保存
226374                            检索
226375                            检索
226376                            检索
226377                            检索
226378                            检索
226379                            检索
226380                            检索
226381                            检索
226382                            检索
226383                            检索
226384                            检索
226385                            检索
226386                            检索
226387                            检索
226388                            检索
226389                            检索
Name: cn, Length: 20367, dtype: object

In [17]:
#code check snippet
string =' 客户列表上海恒'
firstpart, secondpart = string[:len(string)//2], string[len(string)//2:]
firstpart,secondpart

(' 客户列', '表上海恒')

In [18]:
#break Chinese character strings into two parts
firstpart = []
secondpart = []
combine_parts = []
for string in df2.cn:
    firstpart.append(string[:len(string)//2])
    secondpart.append(string[len(string)//2:])

In [19]:
#combine two parts if not equal, drop 2nd part if equal
combine_parts = []
for i in range(len(firstpart)):
    if firstpart[i]==secondpart[i]:
        combine =firstpart[i]
    else:
        combine = firstpart[i] + secondpart[i]
    combine_parts.append(combine)

In [20]:
#attache list back to dataframe
df2['文字'] = combine_parts
#df2.head(2)

,姓名,用户名,操作IP,操作时间,操作系统,操作地址,url,url_unquoted,cn,文字
0,林栩凤,林栩凤,122.225.96.6,2017/11/29 16:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,金洋金洋,金洋
1,王越,王越,1.81.65.113,2017/11/28 19:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,中国联通山西省分公司中国联通山西省分公司,中国联通山西省分公司

In [21]:
#drop necessary columns
df2 = df2.drop(['url_unquoted','url'],axis=1)
#df2.head()

,姓名,用户名,操作IP,操作时间,操作系统,操作地址,cn,文字
0,林栩凤,林栩凤,122.225.96.6,2017/11/29 16:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,金洋金洋,金洋
1,王越,王越,1.81.65.113,2017/11/28 19:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,中国联通山西省分公司中国联通山西省分公司,中国联通山西省分公司
2,王越,王越,1.81.65.113,2017/11/28 19:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,山西联通山西联通,山西联通
3,王越,王越,36.45.30.26,2017/11/29 10:23,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,陕西中烟陕西中烟,陕西中烟
4,陈慈娜,陈慈娜,113.111.61.175,2017/11/30 11:26,Windows 10（正式版）,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,中粮集团中宏食品中粮集团中宏食品,中粮集团中宏食品

In [23]:
#extract currPage number from operation url
df2['currPage'] = df2.操作地址.str.extract('(currPage=[0-9]?[0-9]?[0-9])',expand = False)
#df2.head(2)

,姓名,用户名,操作IP,操作时间,操作系统,操作地址,cn,文字,currPage
0,林栩凤,林栩凤,122.225.96.6,2017/11/29 16:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,金洋金洋,金洋,NaN
1,王越,王越,1.81.65.113,2017/11/28 19:10,Android,http://192.168.1.30:88/SYSA/work/teltop.asp?F1...,中国联通山西省分公司中国联通山西省分公司,中国联通山西省分公司,NaN

In [ ]:
#df2.currPage.value_counts()

In [ ]:
#export for BI toools
#df2.to_csv('crm_log.csv',index=False,header = True,encoding='UTF-8')